!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsos de lona</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/normalize.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/site.webmanifest">
</head>
<body>
    <header class='header'>

        <nav class="navbar" id="nav">
            <p class="logo"><a href="index.html"><span class="span-h1">Nano</span>Gris</a></p>

            <div class="hamburger">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>

            <ul class="ul nav-links main-nav menuppal">
                <li><a href="index" class="navbar__link link-item">INICIO</a></li>
                <li><a class="navbar__link user-select">PRODUCTOS</a>
                    <ul class="submenu">
                        <li><a href="buy-bags">MOCHILAS</a></li>
                        <li><a href="bolsos">BOLSOS DE LONA</a></li>
                        <li><a href="mochilas">MOCHILAS DE VIAJE</a></li>
                        <li><a href="formulario">CONTACTA CON UN MENSAJE</a></li>
                    </ul>
                </li>
                <li><a href="/index.html#aboutus" class="navbar__link">SOBRE NOSOTROS</a></li>
                <li><a href="/index.html#contact" class="navbar__link">CONTACTO</a></li>
            </ul>
        </nav>

        <div class="container-social">
            <li class="social-media">
                <a target="_blank" href="https://www.instagram.com/gaston_artigau/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ccd6f6" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="4" width="16" height="16" rx="4" />
                    <circle cx="12" cy="12" r="3" />
                    <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                  </svg></a>
            </li>
            <li class="social-media">
                <a target="_blank" href="https://twitter.com">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ccd6f6" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
                  </svg></a>
            </li>

            <li class="social-media">
                <a target="_blank" href="https://twitter.com">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ccd6f6" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg></a>
            </li>
        </div>
    </header>

    <h1 class="title-bags">BOLSOS DE LONA</h1>

    <main class="main-bags">

        <div class="container-bag">
            <img src="/static/assets/img/img17-index.webp" alt="">
            <h3>mochila de campo</h3>
            <p>$34.00</p>
        </div>

        <div class="container-bag">
            <img src="/static/assets/img/img18-index.webp" alt="">
            <h3>mochila de campo</h3>
            <p>$34.00</p>
        </div>

        <div class="container-bag">
            <img src="/static/assets/img/img19-index.webp" alt="">
            <h3>mochila de campo</h3>
            <p>$34.00</p>
        </div>

        <div class="container-bag">
            <img src="/static/assets/img/img20-index.webp" alt="">
            <h3>mochila de campo</h3>
            <p>$34.00</p>
        </div>

        <div class="container-bag">
            <img src="/static/assets/img/img21-index.webp" alt="">
            <h3>mochila de campo</h3>
            <p>$34.00</p>
        </div>

        <div class="container-bag">
            <img src="/static/assets/img/img22-index.webp" alt="">
            <h3>mochila de campo</h3>
            <p>$34.00</p>
        </div>
    </main>

    <footer>
        <p>&copy; 2022 hecho para POLONORTE</p>
        <a href="https:" target="_blank">Creado por Gastón Artigau</a>
    </footer>

    <script src="/index.js"></script>
</body>

</html>